In [2]:
import pandas as pd

data = pd.read_excel(r"C:\Users\ACER\Documents\Customer_Data.xlsx")

data.head(3)

,Customer ID,Name,Email,Phone Number,Address,Total Purchases
0,101,Customer 101,customer101@example.com,615-647-4473,"459 Random St, City 101",1142.65
1,102,Customer 102,customer102@example.com,499-516-9591,"535 Random St, City 102",1434.11
2,103,Customer 103,customer103@example.com,673-532-7767,"220 Random St, City 103",305.13